<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
     <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#example').DataTable({
                "ajax": {
                        "url": "/post_list",
                        "dataType": "json"
                },
                buttons: [
                            'excel'
                        ],

                 columns: [
                            { data: 'title' },
                            { data: 'content'},
                            { data: 'date_posted' }

                        ]
            });

        } );
    </script>


</head>

<body>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th> Title</th>
                <th> Content</th>
                <th> date_posted</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
        <tfoot>
            <tr>
                <th> Title</th>
                <th> Content</th>
                <th> date_posted</th>
            </tr>
        </tfoot>
    </table>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</body>
</html>